* {
    margin: 0;
}

header {
    background-color: #EDF2EC;
    height: 134px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
}

.logonav {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: auto;
    font-family: 'Inika', serif;
    font-size: 16px;
    color: #010201;
}

.logo {
    height: 134px;
    line-height: 134px;
}

.logo table {
    margin-left: 114px;
}

.home {
    color: #E06733;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px black;
}

.nav {
    line-height: 134px;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
}

li a {
    text-decoration: none;
    padding: 44px;
    color: #010201;
}

#welcome {
    background-color: #EDF2EC;
    height: 532px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 14px;
}

.welcome {
    display: flex;
    width: 1440px;
    margin: auto;
}

.welcome img {
    margin-left: 109px;
}

.welcomeSection {
    margin-top: 66px;
    margin-left: 214px;
    width: 558.87px;
    font-family: 'Inter', sans-serif;
}

.welcomeSection h1 {
    font-weight: 700;
    font-size: 45px;
    color: #717171;
}

.welcomeSection span {
    color: #499A18;
}

.welcomeSection p {
    margin-top: 42px;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    }

.welcomeSection a {
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: 2px solid #E06733;
    border-radius: 10px;
    width: 158.65px;
    height: 44px;
    padding: 12px;
}

.welcomeSection a:hover {
    background-color: #E06733;
    color: white;
}

.aboutsection {
    display: flex;
    width: 1440px;
    margin: auto;
}

.abouttext h2 {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    height: 102px;
    width: 463px;
    margin-left: 109px;
    margin-top: 150px;
}

.abouttext span {
    color: #E06733;
}

.abouttext p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    margin-top: 40px;
    margin-left: 109px;
    width: 605px;
    height: 208px;
}

.aboutimg {
    margin-top: 82px;
    margin-left: 153px;
}

#service {
    background-color: #EDF2EC;
    height: 1300px;
    margin: auto;
}

.service {
    display: flex;
    width: 1440px;
    margin: auto;
}

.service h2 {
    margin-top: 35px;
    margin-left: 109px;
    width: 306px;
    height: 94px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.servicebtn {
    margin-left: 148px;
    margin-top: 64px;
}

.service a {
    /*display: inline-block;*/
    text-decoration: none;
    color: #E06733;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    margin-left: 38px;
    margin-top: 54px;
    padding: 12px 40px;
 }

 .service-grid {
    display: grid;
    width: 1440px;
margin: auto;

 }